name: CI

on:
  # Only run push on main
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
  # Always run on PRs
  pull_request:
    branches:
      - main

concurrency:
  group: ci-${{ github.ref }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Install JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '19'

      - name: Bootstrap
        run: |
          mkdir -p ~/.gradle
          touch ~/.gradle/gradle.properties
          ./gradlew bootstrap --stacktrace

      - name: Build and run tests
        id: gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check --continue --quiet
          gradle-home-cache-cleanup: true
          cache-read-only: false

      # TODO sorting/filtering on matching source files?
      - name: Get changed files
        if: always() && github.event_name == 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdir tmp
          gh pr view ${{ github.event.number }} --json files -q '.files[].path' > tmp/changed_files.txt

      - name: Run sarif upload if any sources changed
        if: always() && github.event_name == 'pull_request'
        run: |
          ./.github/workflows/sarif-filter.main.kts --sarif-file app/build/reports/lint-results-debug.sarif --modified-files tmp/changed_files.txt --output-file tmp/modified_sarif.sarif

      - name: Upload lint sarif
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: tmp/modified_sarif.sarif

      - name: (Fail-only) Upload build reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: |
            **/build/reports/*
